[Desktop Entry]
Type=Application
Name=Box-o-fish
Icon=freebox-o-fish
Exec=invoker --type=silica-qt5 sailfish-qml freebox-o-fish
X-Nemo-Application-Type=silica-qt5
Comment=Compagnon Freebox
