[Desktop Entry]
Type=Application
Name=Box-o-fish
Icon=harbour-freebox-o-fish
Exec=harbour-freebox-o-fish
X-Nemo-Application-Type=silica-qt5
Comment=Compagnon Freebox
